<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Thiago Ferreira">
<meta name="description" content="The fruit game">
<meta name="keywords" content="game, fruit-game, javascript">
<meta name="robots" content="index, follow">

<title>Fruit Game</title>

<!-- Vendors -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:500,+700%7CDroid+Sans:400,700" media="all">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/vendors/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/vendors/toast.min.css"/>

<!-- Custom -->
<link rel="stylesheet" type="text/css" href="/css/style.css"/>